
//sass --watch sass:css 
@use '../util' as u;

html{
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}


body{
    margin: 0;
    padding: 0;
    display: flex;
    font-size: u.rem(18);
    font-family: var(--font-400-700);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;

    .desk{
        display: none;
    }

    @include u.breakpoints(medium){
        .mobile{
            display: none;
        }
        .desk{
            display: block;
        }
    }
}

header,
main,
footer{
    width: 100%;
}

.container, 
main{
   padding-inline: 5vw;
   margin-inline: auto;
}

.container{
    max-width: 1400px;
    width: 100%;
}

main{
    max-width: 1200px;
}


img{
    width: 100%;
}
